body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.app {
  width: 100vh;
  height: 100vh;
}

.marker {
  transform: translate(-50%, -100%);
}
.marker:hover {
  cursor: pointer;
}

.popup {
  min-height: 300px;
  min-width: 300px;
  text-align: center;
}

.popup-img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-form > input,
.popup-form > select {
  margin-bottom: 15px;
}

.popup-form > button {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: darkblue;
  border: none;
  border-radius: 15px;
  color: white;
  letter-spacing: 3px;
}

.legend {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 15px;
  left: 30px;
  width: 300px;
  height: 150px;
  color: white;
  z-index: 3;
  border: white 1px solid;
}

.legend > div > input {
  margin-right: 10px;
}

.hide {
  display: none;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.links > a > img {
  width: 24px;
}
